/** 
/* Layout
**/
html {
    background-color: #0D0B0D;
    color: white;
    height: 100%;
}
body { 
    font-family: Arial; 
    font-size: 15px;
    height: 95%;
}
.padding {
	padding-left: 15px;
	padding-bottom: 15px;
}
.head {
    background-image: url(images/background-spotlight.png);
    background-repeat: no-repeat;
    margin-top: -10px;
    height: 320px;
    width: 1200px;
    text-align: center;
    font-size: 30pt;
    position: absolute;
    z-index: -1;
    margin-right: 200px;
}

#login {
	vertical-align: middle;
}
header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 60px;
    width: 1200px;
}
.nav {
	border-collapse:collapse;
    margin-left: auto;
    margin-right: 260px;
    font-size: 10pt;
    height: 20px;
    width: 690px;
    float: right;
}
.content {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 500px;
    height: auto;
    width: 960px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto;
}
#logo {
	float: left;
}
.loginfo {
    font-size: 11px;
    float: right;
	margin-top: 4px;
}
/** 
/* Alle Pagina's
**/
.req {
	color: red;
	font-weight: bold;
}
.title {
    margin-left: auto;
    margin-right: auto;
    color: white;
    line-height: 0px;
    padding: 2px;
    padding-left: 7px;
    text-shadow: 1px 1px 1px black;
    width: 750px;
    border-style: solid;
    border-width: 1px;
    border-color: #900000;
    border-top: 0px;
    border-right: 0px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}
td {
    text-align: left;
    padding: 8px;
}
ul {
	margin-left: -20px;
}
li { 
   list-style: none; 
    margin: 0; 
    padding: 0; 
    display: inline;
} 
a.padding {
	padding: 10px;
}
a { 
    color: white; 
    text-decoration: none; 
    padding: 2px;
}
a.id {
	color: white;
	font-weight: bold;
}
a.id:hover {
	color: black;
	font-weight: bold;
}
a:hover { 
        color: red;
}
a:active { 
        color: #7A7AFF; 
}

.container {
	margin-left: auto;
	margin-right: auto;
	background-color: #202020;
	height: auto;
	width: 730px;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 15px;
	padding-top: 5px;
}
.headtable {
	background-color: #303030;
}
.table0 {
    background-color: #303030;
}
.table1{
    background-color: #202020;
}
.table3{
	background-color: #303030;
}
.table1:hover {
    background-color: #900000;
}
.table0:hover {
    background-color: #900000;
    cursor: pointer;
}
.red {
    background-color: #900000;
}
.click {
    background-color: red;
    height: 10px;
    border-radius: 10px;
}
.bekijk {
        color: black;
        font-size: 14px;
}
.finalnote {
	background-color: #006600;
	border-bottom: 2px solid #006600;
}
.notes {
	border-bottom: 2px solid #900000;	
}
.container2 {
	width: 760px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}
.ticketinfo_container2 {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}
.ti {
    width: 410px;
    height: 150px;
    background-color: #202020;
    float: left;
}
.ticketinfo td {
    text-align: left; 
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.klant {
    width: 350px;
    height: 150px;
    background-color: #202020;
    float: right;
}
.klant td {
    text-align: left;
    padding: 2px;
    padding-left: 14px;
    padding-right: 14px;
}
.banner {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    text-align: left;
    font-size: 12px;
    background-color: #900000;
}
.banner td {
    text-align: left;
    padding: 5px;
}
.tdhead {
    padding: 0px;
    
}
.omschrijving {
    background-color: #900000;
    padding: 0px;
}
.files {
    width: 760px;
    height: auto;
    min-height: 20px;
    background-color: #202020;
    float: right;
}
.beschrijving {
    width: 760px;
    height: auto;
    min-height: 120px;
    background-color: #202020;
    float: right;
}
.oplossing {
	margin-left: auto;
	margin-right: auto;
    width: 760px;
    height: auto;
    min-height: 120px;
    background-color: #202020;
    float: right;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}
.beschrijving td {
    text-align: left;  
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
h3 {
    text-align: center;
    line-height: 0px;
}
